body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    background-color: #fff;
    color: #333;
}

main {
    margin-top: 100px;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0)
}

@media (max-width: 768px) {
    #header-img {
    height: 40px;
    }

    nav {
    flex-direction: column;
    }

    .nav-link {
    padding: 5px;
    }

    main {
    margin-top: 80px;
    }

    section {
    margin-bottom: 30px;
    }

    iframe {
    height: 200px;
    }
}