body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

#img-div {
    text-align: center;
    margin-bottom: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#img-caption {
    font-size: 18px;
    margin-top: 10px;
}

#tribute-info {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#tribute-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
#tribute-link:hover {
    color: #0056b3;
}